{% extends 'base.html' %}

{% block title %} Home {% endblock title %}


{% block body %} 

<div class="container-fluid  px-0">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
     <div class="container-fluid px-0">
        <div class="carousel-item active" style="height:640px">
             <img src="/static/img/2.webp" class="d-block w-100" alt="...">
           <div class="carousel-caption d-none d-md-block"> 
            <h2 class="text-light bg-dark" style="border-radius:12px;margin-bottom: 0px;">Welcome to the Best Ice Cream of Kanpur</h2>
            <p class="text-danger">I know you eat IceCream but I know you have not eaten my icecream so please eat my IceCream </p>
           </div>

         </div>
       <div class="carousel-item" style="height:640px">
             <img src="/static/img/uMJXguO.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block"> 
            <h2 class="text-light bg-dark" style="border-radius:12px;margin-bottom: 0px; width:700px ;margin-left: 180px;">We Serve love with our Ice Cream</h2>
            <p class="text-danger" style="font-size:20px">Raj's Word Best IceCream</p>
           </div>
       </div>
       <div class="carousel-item" style="height:640px">
              <img src="/static/img/VNyZcCT.jpg" class="d-block w-100" alt="...">
               <div class="carousel-caption d-none d-md-block"> 
            <h2 class="text-light bg-dark" style="border-radius:12px; width:700px ;margin-left: 520px;">Inaurgareted Steve Jobs</h2>
              <p class="text-danger" style="margin-left: 670px;font-size:15px;">This Ice Creame shop was inaurgareted by honurable Founder of Apple Company CEO Mr. Steve Jobs</p>
           </div>
       </div>
     </div>
  </div>


  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
{% comment %} this container is bootstrap album  {% endcomment %}
<div class="container my-3">
<h1 class='my-4 text-center'> Select from the our Range of Ice Cream  </h1>
      <div class="row">
        <div class="col-md-4 " style="border-radius:12px;" >
            <div class="card mb-4 shadow-sm " style="border-radius:12px;">        
                 <img src="https://source.unsplash.com/1300x900/?IceCream,water" class="d-block w-100" alt="..." style="border-radius:12px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 " style="border-radius:12px;" >
            <div class="card mb-4 shadow-sm " style="border-radius:12px;">        
                 <img src="https://source.unsplash.com/1300x900/?kulfi,icecream" class="d-block w-100" alt="..." style="border-radius:12px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 " style="border-radius:12px;" >
            <div class="card mb-4 shadow-sm " style="border-radius:12px;">        
                 <img src="https://source.unsplash.com/1300x900/?icecream,cone" class="d-block w-100" alt="..." style="border-radius:12px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
       <div class="col-md-4 " style="border-radius:12px;" >
            <div class="card mb-4 shadow-sm " style="border-radius:12px;">        
                 <img src="https://source.unsplash.com/1300x900/?banana,icecream" class="d-block w-100" alt="..." style="border-radius:12px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
       <div class="col-md-4 " style="border-radius:12px;" >
            <div class="card mb-4 shadow-sm " style="border-radius:12px;">        
                 <img src="https://source.unsplash.com/1300x900/?icecream,nature" class="d-block w-100" alt="..." style="border-radius:12px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
       <div class="col-md-4 " style="border-radius:12px;" >
            <div class="card mb-4 shadow-sm " style="border-radius:12px;">        
                 <img src="https://source.unsplash.com/1300x900/?vanela,water" class="d-block w-100" alt="..." style="border-radius:12px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

       <div class="col-md-4 " style="border-radius:12px;" >
            <div class="card mb-4 shadow-sm " style="border-radius:12px;">        
                 <img src="https://source.unsplash.com/1300x900/?stoberry,water" class="d-block w-100" alt="..." style="border-radius:12px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
       <div class="col-md-4 " style="border-radius:12px;" >
            <div class="card mb-4 shadow-sm " style="border-radius:12px;">        
                 <img src="https://source.unsplash.com/1300x900/?choclate,icecream" class="d-block w-100" alt="..." style="border-radius:12px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 " style="border-radius:12px;" >
            <div class="card mb-4 shadow-sm " style="border-radius:12px;">        
                 <img src="https://source.unsplash.com/1300x900/?icecream" class="d-block w-100" alt="..." style="border-radius:12px;">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock body %}
